<h2>
  Contatos ({{contacts.length}})
</h2>
<h2 *ngIf="isUpdating && contacts.length === 0">
  Carregando...
</h2>
<h2 *ngIf="!isUpdating && contacts.length === 0">
  Sem contatos.
</h2>
<ul class="list-group" [ngStyle]="{opacity: isUpdating? 0.5: 1}">
  <li class="list-group-item" *ngFor="let contact of contacts; index as i">
    <div class="row">
      <div class="col-md-3" (click)="router.navigateByUrl('/detail/' + contact._id)">
        {{contact.name}}
      </div>
      <a class="col-md-2" href="mailto:{{contact.fields['E-mail']}}">
        {{contact.fields['E-mail']}}
      </a>
      <div class="col-md-3" (click)="router.navigateByUrl('/detail/' + contact._id)">
        {{contact.fields['Telefone']}}
      </div>
      <div class="col-md-3" (click)="router.navigateByUrl('/detail/' + contact._id)">
        {{getCargoEmpresa(contact)}}
      </div>
      <div class="col-md-1">
        <button type="button" class="btn danger" (click)="delContact(i)" ngbTooltip="Excluir">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </li>
</ul>
<div class="float-right">
    <button type="button" class="btn" id="addButton" (click)="router.navigateByUrl('/detail')" ngbTooltip="Criar novo contato">
      <i class='fas fa-plus-circle'></i>
    </button>
</div>
